@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif, 'Times New Roman';
    overflow: hidden;
    margin: 0px;
    background-color: #f6f7fb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.progress-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
}

.progress-container::before {
    content: '';
    background-color: #e0e0e0;
    position: absolute;
    top: 50%;
    left: 0;
    height: 3px;
    width: 100%;
    transform: translateY(-50%);
    z-index: -1;
}

.progress {
    background-color: #3498db;
    position: absolute; /* position absolute relative to progress-container */
    top: 50%;
    left: 0;
    height: 3px;
    width: 0%;
    transform: translateY(-50%); /* position the blue line right in the middle */
    z-index: -1; /* sets the line behind the circle */
    transition: .4s ease;
}

.circle {
    background-color: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #e0e0e0;
    transition: .4s ease;
}

.circle.active {
    border-color: #3498db;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    background-color: #3498db;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    padding: 8px 30px;
    margin: 5px;
    font-size: 14px;
}

.btn:active {
    transform: scale(.98); /* scaling down effect when buttons are clicked */
}

.btn:disabled {
    background-color: #e0e0e0;
    cursor: not-allowed; /* buttons disabled cannot be clicked */
}