@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family:  Roboto, sans-serif, 'Times New Roman';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background-image: linear-gradient(90deg, #7d5fff, #7158e2);
}

.search {
    position: relative;
    height: 50px;
}

.search .input {
    background-color: #fff;
    border: 0;
    font-size: 18px;
    padding: 15px;
    height: 50px;
    width: 50px;
    transition: width 0.3s ease;
}

/* position the button relative to the search container - place it at the upper right corner*/
.btn {
    background-color: #fff;
    border: 0;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    width: 50px;
    transition: transform 0.3s /* push the button to the right when clicked */
}

.btn:focus,
.input:focus {
    outline: none;
}

.search.active .input {
    width: 400px; /* if search has active class, expand the bar to 200px */
}